body {
    font-family: "Montserrat";
    font-weight:bold;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: #F8853E;
    color: #FDD995;
    display: flex;
}

.fuentes , .iconos {
    text-align: center;
    margin: 30px auto;
    border-radius: 14px;
    background-color: #F99A54;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    flex-basis: 45%;
    transition: ease-in-out 0.5s;
}

.fuentes:hover , .iconos:hover {
    transform: scale(1.05);
}

img {
    width: 70%;
    margin: 10px;
    border-radius: 14px;
}

a {
    color: #FEEEAB;
    font-size: larger;
}